@main("Welcome to Play") {
<link href="@routes.Assets.versioned("stylesheets/simplemde.min.css")" rel="stylesheet">
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Navbar example</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
</div>

<div class="container">
    <div class="form-group">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>

    <div class="row">
        <div class="col-md-4"><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTE2OGY5OTU4NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MTY4Zjk5NTg1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjU0MTY2NjAzMDg4Mzc5IiB5PSI3NC42NSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="Test Image" class="img-circle"></div>
        <div class="col-md-8">
            <p><input type="text" class="form-control" id="description" name="description" placeholder="Description"></p>
            <p><input type="text" class="form-control" id="team" name="team" placeholder="Team"></p>
        </div>
    </div>

    <textarea id="markdownEditor"># Test</textarea>

    <div class="form-group">
        <label for="exampleInputFile">Attachments</label>
        <input type="file" id="exampleInputFile">
        <p><a href="#">Image.png</a> (100 KB) &bull; <a href="#">Remove</a></p>
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/simplemde.min.js")"></script>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("markdownEditor") });
</script>
}
