@(message: String, loggedIn: Boolean, projectos: List[Projecto])

    @main("Audiência Zero", loggedIn, "index") {

            <!-- Carousel
    ================================================== -->
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="3000">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                @for((p, index) <- projectos.zipWithIndex) {
                    <li data-target="#myCarousel" data-slide-to="@(index + 1)"></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <h1 id="headers" style="text-align: center; padding: 150px 200px 250px 200px; background-color: white;">Bem-vindo à <b>Audiência Zero</b>, uma plataforma de documentaçãomete colectiva que tem como objectivo oferecer ao utilizador uma forma mais simples de documentar.</h1>
                        <br><br><br><br>

                        <div class="container">
                            <div class="carousel-caption">
                                <p><a class="btn btn-lg btn-primary" href="http://altlab.org/d/" role="button">Mais informações aqui</a></p>
                            </div>
                        </div>
                </div>

                @for(p <- projectos){
                    <div class="item">
                        <img class="second-slide" src="@p.getImageBase64" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 id="headers">@p.nome</h1>
                                <p>@p.descricao</p>
                                <p><a class="btn btn-lg btn-primary" href="/projecto/@p.id" role="button">Ver projecto</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->


            <!-- Other projects -->
        <div class="jumbotron container col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading" id="headers">Recentes</h4>
                        <ul>
                        @for(p <- projectos){
                            <li><a href="projecto/@p.id">@p.nome</a></li>
                        }
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading" id="headers">Categorias</h4>
                        <p>
                            <ul>
                        @for(p <- projectos) {
                            @for(tg <- p.tags) {
                                <a href="search?query=@tg.nome"><li>#@tg.nome</li></a>
                            }
                        }
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.outros projectos -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Audiência Zero 2016</span>
                    </div>
                </div>
            </div>
        </footer>
        <link href="@routes.Assets.versioned("bootstrap/css/homepage.css")" rel="stylesheet">

    }