@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>@title</title>

            <!-- Bootstrap -->
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("bootstrap/css/navbar-fixed-top.css")" rel="stylesheet">

        <link href="@routes.Assets.versioned("jasny-bootstrap/css/jasny-bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("jasny-bootstrap/css/jasny-bootstrap.css")" rel="stylesheet">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
            <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-dismiss="modal"  data-target="#creatProjectModal">Criar Projeto</a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
                    <!--/.nav-collapse -->
            </div>
        </nav>

        <div class="modal fade" id="creatProjectModal" tabindex="-1" role="dialog" aria-labelledby="creatProjectModal" aria-hidden="true">
            <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Criar Projecto</h4>
                        </div>
                        <form role="form" action="/projecto" method="POST">
                            <div class="modal-body">

                                     <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-text-size"></span></div>
                                        <input type="text" class="form-control" id="title" name="title" placeholder="Nome" value="">
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
                                        <textarea style="resize:none" type="text" class="form-control" id="description" name="description" placeholder="Descrição" value="" rows="5"></textarea>
                                    </div>

                                        <!--div class="input-group">
                                            <label for="image" class="control-label">Imagem</label>
                                            <input type="file" id="image" name="image">
                                        </div-->

                                    <div class="input-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                        <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagem</span><span class="fileinput-exists">Alterar</span><input type="file" name="..."></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Apagar</a>
                                        </div>
                                    </div>
                                    </div>

                                <input hidden type="text" id="jwt" name="jwt" value="eyJraWQiOm51bGwsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJBdWRpw6puY2lhIFplcm8gU1NPIiwiYXVkIjoiQXVkacOqbmNpYSBaZXJvIFNTTyIsImV4cCI6MTQ1MDMxMzI3OCwianRpIjoiMTdMWDNicjBaTHc4elk0QnBMcHBIZyIsImlhdCI6MTQ1MDMwNjA3OCwibmJmIjoxNDUwMzA1OTU4LCJzdWIiOiJhdXRoIiwidXNlcm5hbWUiOiJ1c2VybmFtZSIsImlkIjoxNDEsImlwIjoiMTg4LjgzLjI0MS43MiJ9.MJYPBSrHN9JlKP7cs_GjdbBHm6az9bwAU5PGKX-sOoyz9FmbuQw_Db1MYw3Y1byu6mKGG8PZLPCc0pDFksMq_T7kwDU-8eZdKaSCIOBMhvet4KWVFzkVER9u3nII9kD3EHU_hTd6ZXOhDjWMEC0bAIGw9ZnHCs-5PK8n4fZ4D-E7SHRSx_0PG8-zNgsbLJ5An4knk_h7RdXECC4miHff1DbbfKzRo39NNLAGULcnMSd6pzsFeVsLSrcIElfCABSx8EmnvUd51Ydz50NIxse96UG1r86cxW68edteZhgwRXc7PFu7LbODatPFpHhURnWw4NLBZ--UOg1wv8flVQH2Xg">

                            </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Criar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                        </form>
                    </div>
            </div>
        </div>

        <div class="container">
        @content
        </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>

        <script src="@routes.Assets.versioned("jasny-bootstrap/js/jasny-bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("jasny-bootstrap/js/jasny-bootstrap")"></script>
    </body>
</html>