@(project: Projecto, currentVersion: VersaoProjecto, componentes: List[Componente], olderVersions: List[VersaoProjecto], tags: List[Tag])

@main("Project", new Boolean(true), "project") {
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-10">
                    <h1>@project.nome</h1>
                </div>

                <div class="col-md-1">
                    <br />
                    <div class="pull-right">

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="versions-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Versões
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="versions-dropdown">
                            @for((v, index) <- olderVersions.zipWithIndex) {
                                @if(index == 0) {
                                    <li><a href="#" onclick="showVersions(@index)"><b>Atual</b>
                                        : @v.data.format("dd-MM-yyyy HH:mm")</a></li>
                                    <li role="separator" class="divider"></li>
                                } else {
                                    <li><a href="#" onclick="showVersions(@index)">@v.data.format("dd-MM-yyyy HH:mm")</a></li>
                                }
                            }
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-1">
                    <br />
                    <div class="pull-right">
                        <button id="edit" type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> <span></span>
                            Editar</button>
                    </div>
                </div>

                <div class="col-md-10">
                    <br />
                    <img src="@project.getImageBase64()" class="img-responsive" style="max-height : 100 px" style="max-width : 200 px">
                    <br />
                </div>

                <div class="col-md-10">
                @project.descricao
                </div>

                <div class="col-md-10">
                    <br />
                    @for(t <- tags) {
                        <span class="label label-default" id="span-@t.nome"><a href="#" style="text-decoration : none ; color : white ;">@t.nome</a></span> &nbsp;
                    }
                </div>

            </div>
        </div>


            <!-- Conteudo -->
        <div id="conteudo">
            <ul class="nav nav-tabs nav-justified" role="tablist">
            @for(c <- componentes) {
                <li name="tab" role="presentation"><a id="@c.tipo_id.nome-tabActivator" href="#@c.tipo_id.nome-tab" aria-controls="home" role="tab" data-toggle="tab">@c.tipo_id.nome</a></li>
            }
            </ul>

            <div class="tab-content">
            @for(c <- componentes) {
                <br/>
                <div role="tabpanel" class="tab-pane" id="@c.tipo_id.nome-tab"><p>@c.conteudo</p></div>
                <br/>
            }
            </div>
        </div>


        <div class="col-md-12">
            <hr />
            <label>Ficheiros anexados</label>
            <p><a href="#">Image.png</a> (100 KB)</p>
        </div>

        <div class="col-md-12">
            <div class="panel-body" style="text-align : center ;">
                <br />
                <br />
                <div class="view">
                    <div class="media thumbnail">
                        <p>Criado por: @project.user_id</p>
                        <p>Adicionado em: @currentVersion.data.format("dd-MM-yyyy HH:mm")</p>
                        <p>Última alteração em: @currentVersion.data.format("dd-MM-yyyy HH:mm")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById("edit").onclick = function () {
            location.href = "/editor/"+@project.id;
        };

        function showVersions(versao) {

            var index = Number(versao);
            var componentes = @olderVersions(0)[index];

         var conteudo =
         '<div id="conteudo">'+
            '<ul class="nav nav-tabs nav-justified" role="tablist">';

            @for(c <- componentes) {

                conteudo.concat('<li name="tab" role="presentation"><a aria-controls="home" role="tab" data-toggle="tab">'+c.tipo_id.nome+'</a></li>');
             }

            conteudo.concat(
                '</ul>'+
            '<div class="tab-content">');


                @for(c <- componentes) {+
                 conteudo.concat(
                 '<br/>'+
                    '<div role="tabpanel" class="tab-pane" ><p>'+c.conteudo+'</p></div>'+
                '<br/>');
            }

             conteudo.concat(
             '</div>'+
            '</div>');

        var norberto = "<p>Hola amigos</p>";

            $('#conteudo').html(conteudo);
        }
    </script>
}